.weather {
  position: relative;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 15px;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}

.weather::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}

@media screen and (max-width: 900px) {
  .weather {
    margin: 25px;
  }
}

@media screen and (max-width: 600px) {
  .weather {
    margin: 0px;
  }

}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 260px) {

  .top,
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

}

.city {
  font-weight: 600;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

@media screen and (max-width: 670px) {
  .temperature {
    font-size: 40px;
  }
}

@media screen and (max-width: 200px) {
  .temperature {
    font-size: 20px;
  }
}


.details {
  width: 100%;
  padding-left: 20px;
}

@media screen and (max-width: 260px) {
  .details {
    padding-left: 0px;
  }
}


.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 900;
  font-size: 12px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}