.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Custom */
body {
  background: url('https://mir-s3-cdn-cf.behance.net/project_modules/hd/7d6ad841245889.579ecfb6c15ba.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-weight: 600;
  color: #757575;
  text-transform: uppercase;
}

.top-panel {
  display: flex;
  flex-direction: row;
  margin: 0 25px;
}

.col {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .top-panel {
    flex-direction: column;
  }

  .col {
    width: auto;
  }
}

#save-btn {
  margin: 25px;
}

.btn button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  color: inherit;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}

.btn button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 grey;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}

.btn button:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}

.btn button:hover::before {
  box-shadow: 0 0 0 2px #6c6c6c, 0 0.5em 0 0 grey;
  transform: translate3d(0, 0.5em, -1em);
}

.btn button:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}

.btn button:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 grey;
  transform: translate3d(0, 0, -1em);
}